.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 64rem;
  padding: 2rem 1.5rem;
}

.logo {
  font-size: 1.125rem;
  font-weight: 700;
}

.themeSwitch {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}
