*, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  --bg: hsl(0, 0%, 0%);
  --text: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
  --primary: oklch(71.4% 0.203 305.504);
}

body {
  line-height: 1.4em;
  background: var(--bg);
  color: var(--text);
}

ol, ul {
	list-style: none;
}
